.dev{
    width: 90%;
    background-color: white;
    z-index: 100;
    border: black 4px solid;
    position: absolute;
    padding: 10px;
    text-align: left;
}

.json{
    width: 50%;
}

.devContainer{
    display: flex;
    /* justify-content: space-between; */
}

.inp{
    margin-left: 10px;

}
.inp input{
    border: 4px solid black;
    width: 24rem;
    height: 2rem;
    padding: 4px;
    font-size: medium;
}

.inp button:hover{
    background-color: blue;
    cursor: pointer;
}
.inp button{
    background-color: darkblue;
    color: white;
    width: 10rem;
    height: 2rem;
    border: none;
    margin: 2px;
}
